@inherits LayoutComponentBase

<NavBar>
    <NavBarLeft>
        @if (!NavBarLeftInjectableMenu.OverrideParentContent)
        {
            <NavBarMenuItem Link="/">Home</NavBarMenuItem>
            <NavBarMenuItem Link="/search">Search</NavBarMenuItem><!-- defaults to # -->
        }
        @NavBarLeftInjectableMenu.content <!-- Injectable for custom menu content per page -->
    </NavBarLeft>
    <NavBarSearch></NavBarSearch>
    <NavBarRight>
        <NavBarSideBarControl></NavBarSideBarControl>
    </NavBarRight>
</NavBar>
<SideBarContainer>
    <BrandLogo Link="https://lowlandtech.com/" Logo="dist/img/AdminLTELogo.png">LowlandTech</BrandLogo>
    <SideBar>
        <!-- Sidebar user panel (optional) -->
        <SideBarUserPanel ImageEffect="ImageEffect.Circle" Link="starter-pages/user-page" Elevation="Elevation.Three" UserImage="dist/img/user2-160x160.jpg">Wendell Muntslag</SideBarUserPanel>
        @*<SideBarSearch></SideBarSearch>*@
        <SideBarMenu>
            <SideBarMenuItem Link="" Icon="fas fa-th">
                Home
            </SideBarMenuItem>
        </SideBarMenu>
    </SideBar>
</SideBarContainer>
<ContentWrapper>
    @Body
</ContentWrapper>
<ControlSideBar>Hello World!</ControlSideBar>
<MainFooter>
    <Default>
        <strong>Copyright &copy; 2014-2020 <a href="https://lowlandtech.com">lowlandtech.com</a>.</strong> All rights reserved.
    </Default>
    <Right>
        @@wendellmva
    </Right>
</MainFooter>